Source: php-imagehash
Section: php
Priority: optional
Maintainer: Allan Gallop <allan@skullfire.co.uk>
Build-Depends:
 debhelper-compat (= 13),
 dh-php,
 php-dev,
 cargo,
 rustc
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: php-imagehash
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 ${php:Depends}
Description: Fast perceptual image hash index extension for PHP
 Rust-backed PHP extension for indexing and searching image hashes.